*.exe
.vscode/
.vs/
*.suo
*.def
*.pdb
*.idb
*.manifest
*.res
*.aps
*.pch
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.ncb
*.txt
*.sdf
*.opensdf
*.sln.docstates
__pycache__/
__pycache__/*
*.pyc
*.pyo
*.pyd
*.so
